process {
  executor = 'local'

  cpus = params.cpus
  memory = params.memory
  time = params.time

  container = 'quay.io/biocontainers/idr:2.0.4.2--pyhdfd78af_5'

  withName: make_pseudo_reps {
    container = 'quay.io/biocontainers/samtools:1.22.1--h96c455f_0'
  }

  withName: pseudo_idr {
    container = params.container_idr
  }
}

docker {
  enabled = true
}

singularity {
  enabled = false
}
